@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");

/* CONTAINER SETTINGS */

body {
    font-family: "Diphylleia", serif;
    padding: 0;
    background-color: #323232;
}

.container {
    display: flex;
}

/* LEFT-CONTAINER SETTINGS */
.left-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* turn container */
.turn-container {
    background-color: rgba(25, 25, 25, 0.611);
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

/* turns cursor */
.cursor-wrapper {
    height: 580px;
    width: 40px;
}

.cursor-preset {
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-preset i {
    font-size: 40px;
    color: rgb(255, 243, 228);
}

/* players infos */
.players-wrapper {
    height: 600px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.players-infos {
    background-color: rgb(26, 26, 26);
    height: 140px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}

.top-infos {
    color: rgb(255, 243, 228);
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-infos {
    color: rgb(255, 243, 228);
    font-size: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* chat */
.chat-window {
    background-color: rgba(25, 25, 25, 0.611);
    height: 320px;
    width: 550px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.chat-window .chat-area {
    height: 250px;
    width: 540px;
    overflow-y: scroll;
}

.chat-window .chat-area .sender {
    font-size: 18px;
    padding: 0 5px 0 5px;
}

.chat-window .chat-area .buddy-msg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10px 0 10px;
    margin-bottom: 5px;
}

.chat-window .chat-area .buddy-msg p {
    background-color: #313131dd;
    width: fit-content;
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.chat-window .chat-area .user-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 10px 0 10px;
    margin-bottom: 5px;
}

.chat-window .chat-area .user-msg p {
    background-color: #3c8275;
    width: fit-content;
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.chat-window .input-area {
    background-color: #313131dd;
    height: 40px;
    width: 540px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.chat-window .input-area input {
    width: 520px;
    border: none;
    height: 30px;
    color: rgb(255, 243, 228);
    font-size: 20px;
    background: transparent;
    outline: none;
    font-family: "Diphylleia", serif;
    padding-left: 10px;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #3838388b;
    border-radius: 10px;
}

/* GRILLE DU JEU */
.grid-container {
    width: 1040px;
    height: 940px;
    position: absolute;
    left: 430px;
    margin: auto;
    padding-top: 12px;
    padding-left: 18px;
    display: grid;
    grid-template-columns: repeat(13, 80px);
    grid-auto-rows: 121px;
}

.grid-container img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.token {
    height: 70px;
    width: 70px;
    background-color: rgb(255, 243, 228);
    z-index: 2;
    position: absolute;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    cursor: default;
}

.number {
    max-height: 100%;
    margin-bottom: 10px;
}

.great-odds {
    color: red;
}

.ratio {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1fb4;
    color: rgb(255, 243, 228);
}

.thieves {
    background-color: rgba(255, 0, 0, 0.548);
    color: #ffffff97;
    font-size: 80px;
}

.hex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 160px;
    height: 160px;
    background-color: #424242;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border: 2px solid black;
}

.hex:first-child {
    grid-row-start: 1;
    grid-column: 4 / span 2;
}

.hex:nth-child(2) {
    grid-row-start: 1;
    grid-column: 6 / span 2;
}

.hex:nth-child(3) {
    grid-row-start: 1;
    grid-column: 8 / span 2;
}

.hex:nth-child(4) {
    grid-row-start: 1;
    grid-column: 10 / span 2;
}

.hex:nth-child(5) {
    grid-row-start: 2;
    grid-column: 3 / span 2;
}

.hex:nth-child(6) {
    grid-row-start: 2;
    grid-column: 5 / span 2;
}

.hex:nth-child(7) {
    grid-row-start: 2;
    grid-column: 7 / span 2;
}

.hex:nth-child(8) {
    grid-row-start: 2;
    grid-column: 9 / span 2;
}

.hex:nth-child(9) {
    grid-row-start: 2;
    grid-column: 11 / span 2;
}

.hex:nth-child(10) {
    grid-row-start: 3;
    grid-column: 2 / span 2;
}

.hex:nth-child(11) {
    grid-row-start: 3;
    grid-column: 4 / span 2;
}

.hex:nth-child(12) {
    grid-row-start: 3;
    grid-column: 6 / span 2;
}

.hex:nth-child(13) {
    grid-row-start: 3;
    grid-column: 8 / span 2;
}

.hex:nth-child(14) {
    grid-row-start: 3;
    grid-column: 10 / span 2;
}

.hex:nth-child(15) {
    grid-row-start: 3;
    grid-column: 12 / span 2;
}

.hex:nth-child(16) {
    grid-row-start: 4;
    grid-column: 1 / span 2;
}

.hex:nth-child(17) {
    grid-row-start: 4;
    grid-column: 3 / span 2;
}

.hex:nth-child(18) {
    grid-row-start: 4;
    grid-column: 5 / span 2;
}

.hex:nth-child(19) {
    grid-row-start: 4;
    grid-column: 7 / span 2;
}

.hex:nth-child(20) {
    grid-row-start: 4;
    grid-column: 9 / span 2;
}

.hex:nth-child(21) {
    grid-row-start: 4;
    grid-column: 11 / span 2;
}

.hex:nth-child(22) {
    grid-row-start: 4;
    grid-column: 13 / span 2;
}

.hex:nth-child(23) {
    grid-row-start: 5;
    grid-column: 2 / span 2;
}

.hex:nth-child(24) {
    grid-row-start: 5;
    grid-column: 4 / span 2;
}

.hex:nth-child(25) {
    grid-row-start: 5;
    grid-column: 6 / span 2;
}

.hex:nth-child(26) {
    grid-row-start: 5;
    grid-column: 8 / span 2;
}

.hex:nth-child(27) {
    grid-row-start: 5;
    grid-column: 10 / span 2;
}

.hex:nth-child(28) {
    grid-row-start: 5;
    grid-column: 12 / span 2;
}

.hex:nth-child(29) {
    grid-row-start: 6;
    grid-column: 3 / span 2;
}

.hex:nth-child(30) {
    grid-row-start: 6;
    grid-column: 5 / span 2;
}

.hex:nth-child(31) {
    grid-row-start: 6;
    grid-column: 7 / span 2;
}

.hex:nth-child(32) {
    grid-row-start: 6;
    grid-column: 9 / span 2;
}

.hex:nth-child(33) {
    grid-row-start: 6;
    grid-column: 11 / span 2;
}

.hex:nth-child(34) {
    grid-row-start: 7;
    grid-column: 4 / span 2;
}

.hex:nth-child(35) {
    grid-row-start: 7;
    grid-column: 6 / span 2;
}

.hex:nth-child(36) {
    grid-row-start: 7;
    grid-column: 8 / span 2;
}

.hex:nth-child(37) {
    grid-row-start: 7;
    grid-column: 10 / span 2;
}

/* INTERACTIVE GRID */

.interactive-grid {
    width: 820px;
    height: 660px;
    position: absolute;
    left: 600px;
    top: 135px;
    display: grid;
    /* 21 columns */
    grid-template-columns: 20px 59px 20px 61px 20px 59px 20px 61px 20px 59px 20px 61px 20px 59px 20px 61px 20px 59px 20px 61px 20px;
    /* 23 rows */
    grid-template-rows: 20px 15px 18px 68px 18px 15px 20px 68px 20px 15px 18px 68px 18px 15px 20px 68px 20px 15px 18px 68px 18px 15px 20px;
}

.spot {
    justify-self: center;
    align-self: center;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.citySpot {
    background-color: blue;
}

.tradeSpot {
    background-color: greenyellow;
}

.roadSpot {
    background-color: red;
}

/* SPOT VILLES ET COLONIES */

.spot:first-child {
    grid-row-start: 1;
    grid-column: 7;
}

.spot:nth-child(2) {
    grid-row-start: 1;
    grid-column: 11;
}

.spot:nth-child(3) {
    grid-row-start: 1;
    grid-column: 15;
}

.spot:nth-child(4) {
    grid-row-start: 3;
    grid-column: 5;
}

.spot:nth-child(5) {
    grid-row-start: 3;
    grid-column: 9;
}

.spot:nth-child(6) {
    grid-row-start: 3;
    grid-column: 13;
}

.spot:nth-child(7) {
    grid-row-start: 3;
    grid-column: 17;
}

.spot:nth-child(8) {
    grid-row-start: 5;
    grid-column: 5;
}

.spot:nth-child(9) {
    grid-row-start: 5;
    grid-column: 9;
}

.spot:nth-child(10) {
    grid-row-start: 5;
    grid-column: 13;
}

.spot:nth-child(11) {
    grid-row-start: 5;
    grid-column: 17;
}

.spot:nth-child(12) {
    grid-row-start: 7;
    grid-column: 3;
}

.spot:nth-child(13) {
    grid-row-start: 7;
    grid-column: 7;
}

.spot:nth-child(14) {
    grid-row-start: 7;
    grid-column: 11;
}

.spot:nth-child(15) {
    grid-row-start: 7;
    grid-column: 15;
}

.spot:nth-child(16) {
    grid-row-start: 7;
    grid-column: 19;
}

.spot:nth-child(17) {
    grid-row-start: 9;
    grid-column: 3;
}

.spot:nth-child(18) {
    grid-row-start: 9;
    grid-column: 7;
}

.spot:nth-child(19) {
    grid-row-start: 9;
    grid-column: 11;
}

.spot:nth-child(20) {
    grid-row-start: 9;
    grid-column: 15;
}

.spot:nth-child(21) {
    grid-row-start: 9;
    grid-column: 19;
}

.spot:nth-child(22) {
    grid-row-start: 11;
    grid-column: 1;
}

.spot:nth-child(23) {
    grid-row-start: 11;
    grid-column: 5;
}

.spot:nth-child(24) {
    grid-row-start: 11;
    grid-column: 9;
}

.spot:nth-child(25) {
    grid-row-start: 11;
    grid-column: 13;
}

.spot:nth-child(26) {
    grid-row-start: 11;
    grid-column: 17;
}

.spot:nth-child(27) {
    grid-row-start: 11;
    grid-column: 21;
}

.spot:nth-child(28) {
    grid-row-start: 13;
    grid-column: 1;
}

.spot:nth-child(29) {
    grid-row-start: 13;
    grid-column: 5;
}

.spot:nth-child(30) {
    grid-row-start: 13;
    grid-column: 9;
}

.spot:nth-child(31) {
    grid-row-start: 13;
    grid-column: 13;
}

.spot:nth-child(32) {
    grid-row-start: 13;
    grid-column: 17;
}

.spot:nth-child(33) {
    grid-row-start: 13;
    grid-column: 21;
}

.spot:nth-child(34) {
    grid-row-start: 15;
    grid-column: 3;
}

.spot:nth-child(35) {
    grid-row-start: 15;
    grid-column: 7;
}

.spot:nth-child(36) {
    grid-row-start: 15;
    grid-column: 11;
}

.spot:nth-child(37) {
    grid-row-start: 15;
    grid-column: 15;
}

.spot:nth-child(38) {
    grid-row-start: 15;
    grid-column: 19;
}

.spot:nth-child(39) {
    grid-row-start: 17;
    grid-column: 3;
}

.spot:nth-child(40) {
    grid-row-start: 17;
    grid-column: 7;
}

.spot:nth-child(41) {
    grid-row-start: 17;
    grid-column: 11;
}

.spot:nth-child(42) {
    grid-row-start: 17;
    grid-column: 15;
}

.spot:nth-child(43) {
    grid-row-start: 17;
    grid-column: 19;
}

.spot:nth-child(44) {
    grid-row-start: 19;
    grid-column: 5;
}

.spot:nth-child(45) {
    grid-row-start: 19;
    grid-column: 9;
}

.spot:nth-child(46) {
    grid-row-start: 19;
    grid-column: 13;
}

.spot:nth-child(47) {
    grid-row-start: 19;
    grid-column: 17;
}

.spot:nth-child(48) {
    grid-row-start: 21;
    grid-column: 5;
}

.spot:nth-child(49) {
    grid-row-start: 21;
    grid-column: 9;
}

.spot:nth-child(50) {
    grid-row-start: 21;
    grid-column: 13;
}

.spot:nth-child(51) {
    grid-row-start: 21;
    grid-column: 17;
}

.spot:nth-child(52) {
    grid-row-start: 23;
    grid-column: 7;
}

.spot:nth-child(53) {
    grid-row-start: 23;
    grid-column: 11;
}

.spot:nth-child(54) {
    grid-row-start: 23;
    grid-column: 15;
}

/* SPOT ROUTES */

.spot:nth-child(55) {
    grid-row-start: 2;
    grid-column: 6;
}

.spot:nth-child(56) {
    grid-row-start: 2;
    grid-column: 8;
}

.spot:nth-child(57) {
    grid-row-start: 2;
    grid-column: 10;
}

.spot:nth-child(58) {
    grid-row-start: 2;
    grid-column: 12;
}

.spot:nth-child(59) {
    grid-row-start: 2;
    grid-column: 14;
}

.spot:nth-child(60) {
    grid-row-start: 2;
    grid-column: 16;
}

.spot:nth-child(61) {
    grid-row-start: 4;
    grid-column: 5;
}

.spot:nth-child(62) {
    grid-row-start: 4;
    grid-column: 9;
}

.spot:nth-child(63) {
    grid-row-start: 4;
    grid-column: 13;
}

.spot:nth-child(64) {
    grid-row-start: 4;
    grid-column: 17;
}

.spot:nth-child(65) {
    grid-row-start: 6;
    grid-column: 4;
}

.spot:nth-child(66) {
    grid-row-start: 6;
    grid-column: 6;
}

.spot:nth-child(67) {
    grid-row-start: 6;
    grid-column: 8;
}

.spot:nth-child(68) {
    grid-row-start: 6;
    grid-column: 10;
}

.spot:nth-child(69) {
    grid-row-start: 6;
    grid-column: 12;
}

.spot:nth-child(70) {
    grid-row-start: 6;
    grid-column: 14;
}

.spot:nth-child(71) {
    grid-row-start: 6;
    grid-column: 16;
}

.spot:nth-child(72) {
    grid-row-start: 6;
    grid-column: 18;
}

.spot:nth-child(73) {
    grid-row-start: 8;
    grid-column: 3;
}

.spot:nth-child(74) {
    grid-row-start: 8;
    grid-column: 7;
}

.spot:nth-child(75) {
    grid-row-start: 8;
    grid-column: 11;
}

.spot:nth-child(76) {
    grid-row-start: 8;
    grid-column: 15;
}

.spot:nth-child(77) {
    grid-row-start: 8;
    grid-column: 19;
}

.spot:nth-child(78) {
    grid-row-start: 10;
    grid-column: 2;
}

.spot:nth-child(79) {
    grid-row-start: 10;
    grid-column: 4;
}

.spot:nth-child(80) {
    grid-row-start: 10;
    grid-column: 6;
}

.spot:nth-child(81) {
    grid-row-start: 10;
    grid-column: 8;
}

.spot:nth-child(82) {
    grid-row-start: 10;
    grid-column: 10;
}

.spot:nth-child(83) {
    grid-row-start: 10;
    grid-column: 12;
}

.spot:nth-child(84) {
    grid-row-start: 10;
    grid-column: 14;
}

.spot:nth-child(85) {
    grid-row-start: 10;
    grid-column: 16;
}

.spot:nth-child(86) {
    grid-row-start: 10;
    grid-column: 18;
}

.spot:nth-child(87) {
    grid-row-start: 10;
    grid-column: 20;
}

.spot:nth-child(88) {
    grid-row-start: 12;
    grid-column: 1;
}

.spot:nth-child(89) {
    grid-row-start: 12;
    grid-column: 5;
}

.spot:nth-child(90) {
    grid-row-start: 12;
    grid-column: 9;
}

.spot:nth-child(91) {
    grid-row-start: 12;
    grid-column: 13;
}

.spot:nth-child(92) {
    grid-row-start: 12;
    grid-column: 17;
}

.spot:nth-child(93) {
    grid-row-start: 12;
    grid-column: 21;
}

.spot:nth-child(94) {
    grid-row-start: 14;
    grid-column: 2;
}

.spot:nth-child(95) {
    grid-row-start: 14;
    grid-column: 4;
}

.spot:nth-child(96) {
    grid-row-start: 14;
    grid-column: 6;
}

.spot:nth-child(97) {
    grid-row-start: 14;
    grid-column: 8;
}

.spot:nth-child(98) {
    grid-row-start: 14;
    grid-column: 10;
}

.spot:nth-child(99) {
    grid-row-start: 14;
    grid-column: 12;
}

.spot:nth-child(100) {
    grid-row-start: 14;
    grid-column: 14;
}

.spot:nth-child(101) {
    grid-row-start: 14;
    grid-column: 16;
}

.spot:nth-child(102) {
    grid-row-start: 14;
    grid-column: 18;
}

.spot:nth-child(103) {
    grid-row-start: 14;
    grid-column: 20;
}

.spot:nth-child(104) {
    grid-row-start: 16;
    grid-column: 3;
}

.spot:nth-child(105) {
    grid-row-start: 16;
    grid-column: 7;
}

.spot:nth-child(106) {
    grid-row-start: 16;
    grid-column: 11;
}

.spot:nth-child(107) {
    grid-row-start: 16;
    grid-column: 15;
}

.spot:nth-child(108) {
    grid-row-start: 16;
    grid-column: 19;
}

.spot:nth-child(109) {
    grid-row-start: 18;
    grid-column: 4;
}

.spot:nth-child(110) {
    grid-row-start: 18;
    grid-column: 6;
}

.spot:nth-child(111) {
    grid-row-start: 18;
    grid-column: 8;
}

.spot:nth-child(112) {
    grid-row-start: 18;
    grid-column: 10;
}

.spot:nth-child(113) {
    grid-row-start: 18;
    grid-column: 12;
}

.spot:nth-child(114) {
    grid-row-start: 18;
    grid-column: 14;
}

.spot:nth-child(115) {
    grid-row-start: 18;
    grid-column: 16;
}

.spot:nth-child(116) {
    grid-row-start: 18;
    grid-column: 18;
}

.spot:nth-child(117) {
    grid-row-start: 20;
    grid-column: 5;
}

.spot:nth-child(118) {
    grid-row-start: 20;
    grid-column: 9;
}

.spot:nth-child(119) {
    grid-row-start: 20;
    grid-column: 13;
}

.spot:nth-child(120) {
    grid-row-start: 20;
    grid-column: 17;
}

.spot:nth-child(121) {
    grid-row-start: 22;
    grid-column: 6;
}

.spot:nth-child(122) {
    grid-row-start: 22;
    grid-column: 8;
}

.spot:nth-child(123) {
    grid-row-start: 22;
    grid-column: 10;
}

.spot:nth-child(124) {
    grid-row-start: 22;
    grid-column: 12;
}

.spot:nth-child(125) {
    grid-row-start: 22;
    grid-column: 14;
}

.spot:nth-child(126) {
    grid-row-start: 22;
    grid-column: 16;
}

/* RIGHT-CONTAINER SETTINGS */
.right-container {
    height: 960px;
    width: 440px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logs-wrapper {
    background-color: rgba(25, 25, 25, 0.611);
    width: 270px;
    height: 720px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    color: rgb(255, 243, 228);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center {
    padding-left: 40%;
}

.logs {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    gap: 5px;
}

.items-wrapper {
    background-color: rgba(25, 25, 25, 0.864);
    height: 40px;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    color: rgb(255, 243, 228);
    border-radius: 10px 10px 0 0;
}

.ressources-wrapper {
    background-color: rgba(35, 35, 35, 0.864);
    height: 30px;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    color: rgb(255, 243, 228);
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}

.actions-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 100px;
    width: 440px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.864);
    color: rgba(255, 243, 228, 0.561);
    width: 30%;
    height: 120px;
    border-radius: 10px;
}

.actions:hover {
    cursor: pointer;
    color: rgb(255, 243, 228);
}
