@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");

html,
body {
    font-family: "Diphylleia", serif;
    padding: 0;
    margin: 0;
    background-color: #454545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    background-color: #1b1b1b;
    color: rgb(255, 247, 238);
    border-radius: 10px;
    min-height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0 30px 0;
}

.logInfos {
    font-size: 20px;
}

.logInfos span {
    font-weight: bold;
}

input {
    border: none;
    background: transparent;
    border-bottom: 1px solid grey;
    color: rgb(255, 247, 238);
    outline: none;
    width: 110px;
    text-align: center;
    font-family: "Diphylleia", serif;
}

button {
    border: none;
    background-color: rgb(60, 60, 60);
    color: rgb(255, 247, 238);
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    color: greenyellow;
}
